{% extends 'dashboard/base.html' %} {% load static %} {% block title_block %}
<!-- <h1>Add New Category</h1> -->
{% endblock %} {% block main_block %}

<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <form method="POST" class="form-group">
        {% csrf_token %} {{ p_form.as_p }}
        <div class="form-group">
            <label for="post_tags">Tags:</label>
            <input type="text" name="post_tags" id="post_tags" class="form-control">
        </div>
        <div class="text-center">
            <button class="btn btn-outline-primary text-center w-25">Save</button>
            <button class="btn btn-outline-danger text-center w-25">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
