
{% extends 'dashboard/base.html' %} 
{% block title_block %}
<h2 style="text-align: center">All Posts</h2>
<div class="container text-center">
  <br /><br />
  <button class="btn btn-success">
    <a style="color: white" href="{% url 'add-post' %}">Add New Post</a>
  </button>
</div>
<br /><br />
{% endblock %} {% block main_block %}
<div class="container">
  <table class="table table-dark">
    <thead>
        <tr>
            <th>Post ID:</th>
            <th>Post Title:</th>
            <th>Post Content:</th>
            <th>Post Category:</th>
            <th>Publish Date:</th>
            <th>Post Likes:</th>
            <th>Post Dis-Likes:</th>
            <th colspan="2" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr>
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.content}}</td>
        <td>{{ post.category}}</td>
        <td>{{ post.created_at}}</td>
        <td>{{ post.total_likes }}</td>
        <td>{{ post.total_dislikes }}</td>
        <td>
          <a class="btn btn-primary" href="{% url 'edit-post' post.id %}">Edit</a>
        </td>
        <td>
          <a class="btn btn-danger" href="{% url 'delete-post' post.id %}"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endblock %}
  
