{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}


<!-- pagination -->
<div class="row" style="text-align: center;margin-top: 5%;">
    <div class="col">
        <div class="block-27">
            {% if page_obj.has_previous %}
                <a href="?page=1"  class="btn btn-primary">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}"  class="btn btn-success">previous</a>
            {% endif %}
            
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-success">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}"  class="btn btn-primary">last &raquo;</a>
            {% endif %}
        </div>
    </div>
</div>
<!-- end pag -->