{% extends "./base.html" %}
{% load static %}
{% block page_content %}
    <div class="alert alert-success">
        <h1 class="text-center">This is Post-Details</h1>
    </div>
    <div class="col-md-8 offset-md-2">
        <h1>{{ post.title }}</h1>
        <small>
            {{ post.created_at.date }} |&nbsp;
            Categories:&nbsp;{{ post.category }} &nbsp;
        </small>
        <p>Content: {{ post.content | linebreaks }}</p>
        <p>Likes: {{ post.total_likes }} |&nbsp; Dislikes: {{ post.total_dislikes }}</p>
        <p>Tags: {{ post.tag }}</p>
        {% if post.picture %}
            <img src="{{ post.picture.url }}" alt="post image" width="500" height="600">
        {% else %}
            <img src="static/images/images.png" alt="alt image" width="500" height="600">
        {% endif %}
        <p>{{ post.author }}</p>
        <h3> Leave a comment:</h3>
        <form action="/blog/{{ post.id }}/" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.user }}
            </div>
            <div class="form-group">
                {{ form.content }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h3>Comments:</h3>
        {% for comment in comments %}
            <p>
                On {{ comment.created_at.date }}&nbsp;
                <b>{{ comment.user }}</b> wrote:
            </p>
            <p>{{ comment.content }}</p>
            <hr>
        {% endfor %}
    </div>
{% endblock %}